header img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

header figure {
    float: left;
    margin-right: 15px;
}

header {
    display: flow-root;
}

body {
    margin: 15px auto 0 auto;
    width: 50%;
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

figcaption {
    display: none;
}

section {
    margin-top: 15px;
}

section p {
    margin-left: 15px;
    margin-bottom: 5px;
}
ul {
    margin-bottom: 10px;
}
li {
    margin-left: 15px;
    margin-bottom: 3px;
}

li.inner-list-item {
    list-style: circle;
}

li > ul {
    margin-top: 10px;
}


